<h1><%= t "password_resets.new.title_reset_passoword" %></h1>
<%= link_to t("password_resets.new.content_reset_password"),
            edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= t "password_resets.new.content_reset_password" %></p>
