<%= link_to gravatar_for(current_user,
                         size: Settings.validations.users.size_avatar),
            current_user %>
<h1><%= current_user.name %></h1>
<span>
  <%= link_to t("microposts.new.profile"), current_user %>
</span>
<span><%= pluralize current_user.microposts.size, t("microposts.new.head") %></span>
